python-dotenv
Flask
flask-smorest
flask-sqlalchemy
flask_marshmallow
marshmallow
marshmallow-sqlalchemy
python-magic
psycopg2
Flask-Migrate
marshmallow_enum
gunicorn
oauthlib
flask_jwt_extended
requests
flask-talisman
flask_cors
sqlalchemy_utils
rabbitmq-pika-flask
jsonschema
pytz
injector
cloudinary
